In [2]:
import pandas as pd

df = pd.read_csv('ETHUSDC-1s-2024-08-clean.csv')

In [3]:
df.drop(["high", "low", "close", "volume", "close_time", "quote_volume", "count", "taker_buy_volume", "taker_buy_quote_volume", "ignore"], axis=1, inplace=True)

KeyError: "['high', 'low', 'close', 'volume', 'close_time', 'quote_volume', 'count', 'taker_buy_volume', 'taker_buy_quote_volume', 'ignore'] not found in axis"

In [ ]:
df.rename(columns={"open_time": "time", "open": "price"}, inplace=True)

In [ ]:
df["time"] = df["time"].apply(lambda x: x // 1000)

In [7]:
df

               time    price
0        1722470400  3231.61
1        1722470401  3231.61
2        1722470402  3231.61
3        1722470403  3231.61
4        1722470404  3231.61
...             ...      ...
2678395  1725148795  2513.13
2678396  1725148796  2513.13
2678397  1725148797  2513.13
2678398  1725148798  2513.13
2678399  1725148799  2513.13

[2678400 rows x 2 columns]

In [8]:
df.to_csv('ETHUSDC-1s-2024-08-clean.csv', index=False)