In [16]:
import pandas as pd

df = pd.read_csv('ETHUSDC-1s-2024-04.csv', names=['open_time', "open", "high", "low", "close", "volume", "close_time", "quote_volume", "count", "taker_buy_volume", "taker_buy_quote_volume", "ignore"])

In [17]:
df

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,1711929600000,3645.71,3645.77,3645.71,3645.77,1.3853,1711929600999,5050.423723,6,1.3853,5050.423723,0
1,1711929601000,3645.77,3645.77,3645.77,3645.77,0.0000,1711929601999,0.000000,0,0.0000,0.000000,0
2,1711929602000,3645.77,3645.77,3645.77,3645.77,0.0000,1711929602999,0.000000,0,0.0000,0.000000,0
3,1711929603000,3645.77,3645.77,3645.77,3645.77,0.0000,1711929603999,0.000000,0,0.0000,0.000000,0
4,1711929604000,3645.77,3645.77,3645.77,3645.77,0.0000,1711929604999,0.000000,0,0.0000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2591995,1714521595000,3012.00,3012.00,3012.00,3012.00,0.0554,1714521595999,166.864800,1,0.0554,166.864800,0
2591996,1714521596000,3011.83,3011.83,3011.83,3011.83,0.0888,1714521596999,267.450504,1,0.0000,0.000000,0
2591997,1714521597000,3011.83,3011.83,3011.83,3011.83,0.0000,1714521597999,0.000000,0,0.0000,0.000000,0
2591998,1714521598000,3011.83,3011.83,3011.83,3011.83,0.0000,1714521598999,0.000000,0,0.0000,0.000000,0
2591999,1714521599000,3011.83,3011.83,3011.83,3011.83,0.0000,1714521599999,0.000000,0,0.0000,0.000000,0

In [18]:
df.drop(["high", "low", "close", "volume", "close_time", "quote_volume", "count", "taker_buy_volume", "taker_buy_quote_volume", "ignore"], axis=1, inplace=True)
df.rename(columns={"open_time": "time", "open": "price"}, inplace=True)
df["time"] = df["time"].apply(lambda x: x // 1000)

In [19]:
df

               time    price
0        1711929600  3645.71
1        1711929601  3645.77
2        1711929602  3645.77
3        1711929603  3645.77
4        1711929604  3645.77
...             ...      ...
2591995  1714521595  3012.00
2591996  1714521596  3011.83
2591997  1714521597  3011.83
2591998  1714521598  3011.83
2591999  1714521599  3011.83

[2592000 rows x 2 columns]

In [20]:
df.to_csv('ETHUSDC-1s-2024-04-clean.csv', index=False)